.monkey{
    display: flex;
    position: absolute;
    width: 446px;
    height: 430.91px;
    top: 70px;
    left: 615px;
    gap: 0px;
    border-radius: 48.49px 0px 0px 0px;
    opacity: 0px;
    
}