.second{
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 300px;
}
.second h1{
    position: absolute;
    left: 60px;
    bottom: 60px;
    font-size: 1.7rem;
    color:  rgba(17, 174, 198, 1);
}